.add-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.property-form {
  display: flex;
  flex-direction: column;
}

.property-form-item {
  padding: 1rem;
}
